@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  z-index: 100000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

header .kotak-search {
  width: 576px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: 1px solid gray;
  padding: 12px 20px;
  border-radius: 4px;
  position: relative;
}

header .kotak-search input {
  width: 100%;
  margin-right: 20px;
  font-size: 1em;
  color: #000;
  border: none;
  outline: none;
}

header .kotak-search i {
  font-size: 1em;
  color: gray;
}

header .fav-notif {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  position: relative;
}

header .fav-notif a {
  text-decoration: none;
  color: #404040;
  font-size: 1em;
  font-weight: 600;
}

header .fav-notif a i {
  color: #404040;
  font-size: 1em;
  font-weight: 600;
  margin-right: 4px;
}

header .fav-notif .garis-vertikal {
  width: 1px;
  height: 20px;
  background: #404040;
  position: relative;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.navbar {
  background: #494241;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100000;
  padding: 0 50px;
}

.navbar .kosongan-navbar {
  width: 150px;
  height: 8px;
  background: none;
  position: relative;
}

.navbar ul {
  position: relative;
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: space-between;
}

/* .navbar .kategori {
  float: left;
  overflow: hidden;
}

.navbar .kategori .dropdown {
  font-size: 1em;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 0;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.navbar .kategori .dropdown-content {
  display: none;
  position: absolute;
  background: #494241;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100000;
}

.navbar .kategori .dropdown-content a {
  float: none;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.navbar .kategori .dropdown-content a i {
  float: none;
  color: #fff;
  margin-left: 10px;
}

.navbar .kategori .dropdown-content a:hover {
  background: #404040;
}

.navbar .kategori:hover .dropdown-content {
  display: block;
}

.navbar .kategori .subdropdown-content {
  display: none;
  position: absolute;
  background: #494241;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100000;
}

.navbar .kategori .subdropdown-content a {
  float: none;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.navbar .kategori .subdropdown-content a:hover {
  background: #404040;
}

.navbar .kategori .dropdown-content:hover,
.subdropdown-content {
  display: block;
} */

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.navbar ul li .kategori {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.navbar ul li ul {
  position: absolute;
  left: 0;
  width: 250px;
  background: #f7f7f7;
  display: none;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.navbar ul li:hover > ul {
  display: block;
}

.navbar ul li ul li:hover {
  background: #ddd;
}

.navbar ul li ul li {
  position: relative;
  width: 100%;
  line-height: 50px;
  padding: 0 20px;
}

.navbar ul li ul li a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  color: #484848;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li ul li a i {
  font-size: 1em;
  color: #484848;
  -webkit-text-stroke: 1.2px;
}

.navbar ul li ul li ul {
  top: 0;
  left: 248px;
  width: 300px;
}

.navbar ul li ul li ul li h2 {
  font-size: 20px;
  color: #484848;
  font-weight: 600;
}

.navbar .masuk-daftar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  position: relative;
}

.navbar .masuk-daftar a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}

.garis-vertikal-white {
  width: 1px;
  height: 20px;
  background: #fff;
  position: relative;
}

/* Homepage */

.banner {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 171px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/banner.png");
  margin-top: 48px;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h1 {
  font-size: 3em;
  color: #000;
  font-weight: 600;
}

.banner .content h1 a {
  text-decoration: none;
  color: #c35a4e;
  font-size: 48px;
  font-weight: 600;
}

.banner .content p {
  font-size: 1em;
  color: #000;
  width: 750px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-top: 50px;
}

.banner .content .btn-banner {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 10px 16px;
  margin-top: 50px;
  text-decoration: none;
  background: #454545;
  border: none;
  border-radius: 8px;
}

.rekomendasi {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 171px);
  padding: 80px;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.title .judul p {
  font-size: 1em;
  color: #898989;
  margin-bottom: 10px;
}

.title .judul h1 {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
}

.title .btn-rekomendasi {
  display: flex;
  align-items: end;
}

.title .btn-rekomendasi a {
  text-decoration: none;
  color: #c25b4a;
  font-weight: 500;
  border: 1px solid #c25b4a;
  border-radius: 100px;
  background: none;
  padding: 10px 16px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 630px;
}

.grid-item {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.grid-item img {
  object-fit: fill;
  width: 100%;
  height: 330px;
  cursor: pointer;
}

.details {
  margin-top: 20px;
  margin-bottom: 30px;
}

#judul-buku {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #484848;
  margin-bottom: 20px;
}

#judul-buku a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #484848;
}

#kategori-buku {
  line-height: 28px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #666666;
}

#kategori-buku a {
  text-decoration: none;
  font-size: 14px;
  color: #666666;
}

#penulis-buku {
  font-size: 14px;
  color: #666666;
  text-decoration: none;
}

.link-pinjam {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  min-height: 10px;
}

.link-pinjam button {
  padding: 10px 16px;
  background: #c25b4a;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  width: 200px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}

.popup .isi-popup {
  width: 400px;
  background: none;
}

.open-popup {
  visibility: visible;
  transform: scale(1);
}

.popup .content-close-popup {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}

.popup .content-close-popup .close-popup {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #484848;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 100%;
  margin-right: -30px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.popup .content-popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 0 30px 30px;
  color: #484848;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.popup .content-popup img {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.popup .content-popup h2 {
  font-size: 24px;
  color: #484848;
  font-weight: 600;
  margin: 30px 0 20px;
}

.popup .content-popup .link-masuk-daftar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.popup .content-popup .link-masuk-daftar a {
  padding: 12px 24px;
  background: #c25b4a;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  border-radius: 16px;
  margin-right: 20px;
}

.popup .content-popup .link-masuk-daftar a:last-child {
  margin: 0;
}

.rating {
  font-size: 18px;
  margin-top: 10px;
  display: flex;
  justify-content: start;
}

.rating i {
  color: #fcd01e;
  margin-right: 5px;
}

.rating i:nth-child(5) {
  color: #ddd;
  margin: 0;
}

.new-rilis {
  position: relative;
  max-width: 100%;
  min-height: calc(100vh - 171px);
  padding: 80px;
  display: flex;
  justify-content: space-between;
}

.new-rilis .rilis-konten {
  width: 750px;
  min-height: 100px;
}

.new-rilis .rilis-konten p {
  font-size: 1em;
  color: #898989;
  margin-bottom: 10px;
}

.new-rilis .rilis-konten h1 {
  font-size: 2em;
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
}

.new-rilis .rilis-konten .quote-penulis {
  font-size: 18px;
  color: #000;
}

.new-rilis .rilis-konten .salam-penulis {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin-bottom: 50px;
}

.new-rilis .gambar-penulis {
  width: 600px;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.new-rilis .gambar-penulis .circle {
  /* width: 582px;
  height: 582px;
  border-radius: 100%;
  background: #ffe27e; */
  width: 582px;
  height: 582px;
  background-color: #ffe27e;
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 100% 90%, 0 90%);
  margin-top: 310px;
}

.new-rilis .gambar-penulis img {
  position: absolute;
  padding: 0 50px;
  margin-top: 100px;
}

.faq {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
}

.faq .title-faq {
  width: 660px;
  min-height: 100px;
}

.faq .title-faq p {
  font-size: 1em;
  color: #898989;
  margin-bottom: 30px;
}

.faq .title-faq h1 {
  font-size: 2em;
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.faq .title-faq .deskripsi-faq {
  font-size: 18px;
  color: #000;
}

.faq .konten-faq {
  width: 1000px;
  min-height: 100px;
}

.faq .konten-faq .faq-item:first-child {
  margin-top: 45px;
}

.faq .konten-faq .faq-item {
  margin: 0;
}

.faq .konten-faq .faq-item .faq-question {
  background: none;
  border: none;
  border-bottom: 1px solid #d0d3d9;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #344054;
  font-size: 18px;
  font-weight: 600;
}

.faq .konten-faq .faq-item .faq-question p {
  max-width: 600px;
}

.faq .konten-faq .faq-item .faq-question i {
  color: #344054;
  font-size: 24px;
}

.faq .konten-faq .faq-item .faq-answer {
  padding: 1em;
  max-height: 0;
  overflow: hidden;
  background-color: #ffedd2;
  border: none;
  border-bottom: 1px solid #c25b4a;
  transition: maxHeight 0.5s ease-in-out;
  display: none;
}

.faq-question.active .faq-answer {
  max-height: 200px; /* You can adjust this value based on your needs */
}

.faq-question i {
  /* width: 400px;
  display: flex;
  justify-content: end; */
  transition: transform 0.3s;
}

.faq-question.active i {
  /* justify-content: end; */
  transform: rotate(-180deg);
}

.link-kontak {
  position: relative;
  max-width: 100%;
  min-height: 100px;
  padding: 80px;
}

.link-kontak .konten-link-kontak {
  width: 100%;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
}

.link-kontak .konten-link-kontak .title-link-kontak h2 {
  font-size: 24px;
  color: #c25b4a;
  font-weight: 700;
  margin-bottom: 30px;
}

.link-kontak .konten-link-kontak .title-link-kontak p {
  color: #c25b4a;
  font-size: 1em;
}

.link-kontak .konten-link-kontak .btn-kontak {
  width: 180px;
  background: #c25b4a;
  padding: 14px 16px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-kontak .konten-link-kontak .btn-kontak a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}

.link-kontak .konten-link-kontak .btn-kontak i {
  color: #fff;
  font-size: 16px;
  -webkit-text-stroke: 1px;
}

/* Batas Homepage */

.penutup {
  position: relative;
  max-width: 100%;
  min-height: 100px;
  padding: 80px;
  background: #494241;
}

.penutup .konten-penutup {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
  min-height: 50px;
  justify-content: space-between;
}

.penutup .konten-penutup .books-footer {
  max-width: 430px;
  min-height: 50px;
}

.penutup .konten-penutup .books-footer .buku {
  display: flex;
  width: 430px;
  justify-content: space-between;
  height: 130px;
  margin-bottom: 40px;
}

.penutup .konten-penutup .books-footer .buku img {
  object-fit: fill;
  width: 100px;
  height: 128px;
  cursor: pointer;
}

.penutup .konten-penutup .books-footer h2 {
  color: #eac170;
  font-weight: 700;
  margin-bottom: 20px;
}

.penutup .konten-penutup .books-footer .deskripsi-perpus {
  color: #fff;
  font-size: 1em;
  width: 400px;
  font-weight: 500;
  margin-bottom: 40px;
}

.penutup .konten-penutup .books-footer .alamat,
.penutup .konten-penutup .books-footer .whatsapp,
.penutup .konten-penutup .books-footer .email {
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 10px;
}

.penutup .konten-penutup .layanan {
  width: 200px;
  min-height: 10px;
}

.penutup .konten-penutup .layanan h2 {
  text-transform: capitalize;
  color: #eac170;
  font-weight: 700px;
  margin-bottom: 40px;
}

.penutup .konten-penutup .layanan a {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
}

.penutup .konten-penutup .informasi {
  min-width: 210px;
  min-height: 10px;
}

.penutup .konten-penutup .informasi h2 {
  text-transform: capitalize;
  color: #eac170;
  font-weight: 700;
  margin-bottom: 40px;
}

.penutup .konten-penutup .informasi li {
  list-style: none;
  margin-bottom: 30px;
}

.penutup .konten-penutup .informasi li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.penutup .konten-penutup .informasi .sosmed {
  width: 100%;
  min-height: 10px;
  display: flex;
  justify-content: space-between;
}

.penutup .konten-penutup .informasi .sosmed a {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.penutup .konten-penutup .informasi .sosmed a i {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.penutup .konten-penutup .informasi .sosmed a img {
  width: 20px;
  height: 20px;
}

.penutup .footer {
  width: 100%;
  margin-top: 80px;
  border: none;
  border-top: 1px solid #fff;
  text-align: center;
  padding-top: 40px;
}

.penutup .footer p {
  color: #eac170;
  font-size: 1em;
}

/* Deskripsi Buku */

.deskripsi-buku {
  width: 100%;
  min-height: calc(100vh - 171px);
  padding: 80px 80px 30px;
  position: relative;
}

.deskripsi-buku .container {
  width: 100%;
  min-height: 100px;
  background: #f7f7f7;
  padding: 80px 160px;
  border-radius: 5px;
}

.deskripsi-buku .container h2 {
  font-size: 24px;
  font-weight: 600;
  color: #c25b4a;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.deskripsi-buku .container .identitas-buku {
  display: flex;
  width: 100%;
  min-height: 100px;
  justify-content: start;
  margin-bottom: 60px;
}

.deskripsi-buku .container .identitas-buku img {
  width: 255px;
  height: 352px;
  object-fit: fill;
  margin-right: 100px;
}

.deskripsi-buku .container .identitas-buku .identitas h2 {
  font-size: 24px;
  color: #484848;
  font-weight: 600;
  margin-bottom: 30px;
}

.deskripsi-buku .container .identitas-buku .identitas .pinjam-buku {
  width: 100%;
  margin-top: 50px;
  min-height: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.deskripsi-buku .container .identitas-buku .identitas .pinjam-buku button {
  padding: 10px 16px;
  background: #c25b4a;
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  width: 200px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-right: 30px;
}

.deskripsi-buku .container .identitas-buku .identitas .pinjam-buku i {
  font-size: 2em;
  color: #ccc;
}

.deskripsi-buku .container .menu-buku {
  width: 100%;
  min-height: 100px;
  padding-top: 20px;
  border: none;
  border-top: 2px solid #ccc;
}

.deskripsi-buku .container .menu-buku ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.deskripsi-buku .container .menu-buku ul li {
  list-style: none;
  margin-right: 60px;
}

.deskripsi-buku .container .menu-buku ul li:last-child {
  margin: 0;
}

.deskripsi-buku .container .menu-buku ul li a {
  text-decoration: none;
  color: #484848;
  font-size: 18px;
  font-weight: 400;
}

.deskripsi-buku .container .menu-buku ul li .active {
  color: #c25b4a;
}

#content-description {
  width: 100%;
  min-height: 10px;
}

#content-description p {
  color: #000;
  font-size: 1em;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#content-description.expand p {
  white-space: normal; /* Mengubah white-space menjadi normal saat class expand ada */
}

#content-description p span {
  color: #000;
  font-size: 1em;
  margin-bottom: 20px;
}

#content-description .read-more {
  text-decoration: none;
  color: #c25b4a;
  font-size: 1em;
  font-weight: 600;
}

#content-details {
  display: flex;
  width: 100%;
  justify-content: start;
  min-height: 100px;
  display: none;
}

#content-details .nama-kolom {
  min-width: 10px;
  min-height: 10px;
  margin-right: 150px;
}

#content-details .nama-kolom li {
  list-style: none;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  margin-bottom: 10px;
}

#content-details .isi-kolom {
  min-width: 10px;
  min-height: 10px;
}

#content-details .isi-kolom li {
  list-style: none;
  font-size: 18px;
  color: #c25b4a;
  font-weight: 600;
  margin-bottom: 10px;
}

#content-comments {
  width: 100%;
  min-height: 100px;
  display: none;
}

#content-comments .konten-komen {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}

#content-comments .konten-komen::-webkit-scrollbar {
  display: none;
}

#content-comments .konten-komen .komentar {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: start;
  padding: 20px 40px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 6px;
}

#content-comments .konten-komen .komentar img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #ddd;
  margin-right: 20px;
}

#content-comments .konten-komen .komentar .isi-komen h2 {
  color: #484848;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: none;
}

#content-comments .konten-komen .komentar .isi-komen .tanggal-komen {
  font-size: 18px;
  color: #484848;
  font-weight: 400;
  margin-bottom: 20px;
}

#content-comments .konten-komen .komentar .isi-komen .isi {
  font-size: 1em;
  color: #484848;
  font-weight: 400;
  margin-bottom: 20px;
}

#content-comments .tambah-komen {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 25px;
}

#content-comments .tambah-komen .inputan {
  min-width: 100px;
  display: flex;
  justify-content: start;
}

#content-comments .tambah-komen .inputan img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #ddd;
  margin-right: 20px;
}

#content-comments .tambah-komen .inputan input {
  width: 1200px;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000;
  font-weight: normal;
  pointer-events: none;
}

#content-comments .tambah-komen .inputan input::placeholder {
  color: #898989;
}

#content-comments .tambah-komen a {
  text-decoration: none;
  pointer-events: none;
}

#content-comments .tambah-komen a i {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #eee;
  font-size: 20px;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

/* Halaman Tentang */

.tentang {
  width: 100%;
  min-height: calc(100vh - 171px);
  padding: 80px 150px;
  position: relative;
}

.tentang h1 {
  font-size: 30px;
  font-weight: 600;
  color: #c25b4a;
  width: 100%;
  text-align: center;
}

.logo-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.logo-page p {
  padding: 6px 12px;
  background: #c25b4a;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}

.logo-page .garis-logo-page {
  width: 2px;
  height: 37px;
  color: #fff;
}

.tentang .content-tentang {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 80px;
  align-items: center;
}

.tentang .content-tentang .main-tentang {
  width: 700px;
  min-height: 100px;
}

.tentang .content-tentang .main-tentang h3 {
  font-size: 18px;
  color: #484848;
  font-weight: 400;
  text-transform: capitalize;
}

.tentang .content-tentang .main-tentang h1 {
  font-size: 2em;
  color: #484848;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.tentang hr {
  border: 1px solid #ddd;
  margin: 30px 0;
}

.tentang .content-tentang .main-tentang p {
  color: #484848;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 42px;
}

.tentang .content-tentang .main-tentang a {
  padding: 12px 80px;
  text-decoration: none;
  background: #c25b4a;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.tentang .content-tentang img {
  width: 500px;
  height: 375px;
  object-fit: fill;
}

.tentang .content-mission {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.tentang .content-mission img {
  width: 500px;
  height: 375px;
  object-fit: fill;
}

.tentang .content-mission .main-mission {
  width: 700px;
  min-height: 100px;
}

.tentang .content-mission .main-mission h1 {
  font-size: 2em;
  color: #484848;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.tentang .content-mission .main-mission p {
  color: #484848;
  font-size: 1em;
  font-weight: 400;
}

/* Halaman Kontak */
.kontak {
  width: 100%;
  min-height: calc(100vh - 171px);
  padding: 80px 150px;
  position: relative;
}

.kontak h1 {
  font-size: 30px;
  font-weight: 600;
  color: #c25b4a;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.kontak .content-kontak {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}

.kontak .content-kontak .form-kontak {
  width: 700px;
  min-height: 100px;
}

.kontak .content-kontak .form-kontak h2 {
  font-size: 30px;
  color: #484848;
  font-weight: 500;
  margin-bottom: 26px;
  text-transform: capitalize;
}

.kontak .content-kontak .form-kontak form {
  width: 100%;
  min-height: 50px;
}

.kontak .content-kontak .form-kontak form input {
  width: 100%;
  padding: 16px 20px;
  border: 1px solid #999;
  background: none;
  color: #000;
  font-size: 1em;
  border-radius: 5px;
  margin-bottom: 30px;
  outline: none;
}

.kontak .content-kontak .form-kontak form input::placeholder {
  color: gray;
  font-size: 1em;
  font-weight: 400;
}

.kontak .content-kontak .form-kontak form textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 200px;
  border: 1px solid #999;
  margin-bottom: 50px;
  color: #000;
  font-size: 1em;
  padding: 16px 20px;
}

.kontak .content-kontak .form-kontak form textarea::placeholder {
  color: gray;
  font-size: 1em;
  font-weight: 400;
}

.kontak .content-kontak .form-kontak input[type="submit"] {
  width: 250px;
  height: 45px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  background: #c25b4a;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

#map {
  width: 800px;
  height: 380px;
  margin-top: 70px;
  border: 1px solid #484848;
  border-radius: 10px;
}
